@model Data.Framework.Person

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div style="height: 600px;">

    @using (Html.BeginForm("Index", "AdminLogin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table class="table">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <tr>
                <td>Email</td>
                <td>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Mật Khẩu</td>
                <td>
                    @Html.PasswordFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Login" class="btn btn-default" />
                </td>
            </tr>
        </table>
    }


</div>