@model IEnumerable<Data.DTO.ListNewsDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<p>
    @Html.ActionLink("Tạo Mới Bài Viết", "Create")
</p>
@if (Model.Count() == 0)
{
<div style="height: 500px;">
    <table class="table">
        <tr>
            <th>
                Email
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th></th>
        </tr>
    </table>
</div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="width: 100px">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="width: 300px;">
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <img src="~/Common/img/@item.Image" style="width: 200px; height: 260px;">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.ActionLink("Order", "EditOrder", new { ID = item.ID }) |
                    @Html.ActionLink("Edit", "Edit", new { ID = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { ID = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { ID = item.ID }) 

                </td>
            </tr>
        }

    </table>
}