@model Data.Framework.Person

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div style="height: 600px;">

    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <table class="table">
                <tr>
                    <td>Email</td>
                    <td>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Pass
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Full Name
                    </td>
                    <td>
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Image
                    </td>
                    <td>
                        <input type="file" name="image">
                        @Html.ValidationMessageFor(model => model.Immage, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Join Date
                    </td>
                    <td>
                        @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Position
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.PositionID, null,new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PositionID, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Status
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </td>
                </tr>

            </table>


        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>


</div>